/* Reset style untuk menghilangkan margin dan padding default */
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav {
    background-color: #1e292c;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

ul {
    list-style: none;
}

footer {
    background-color: #1e292c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
